---
BasedOnStyle: Google
ColumnLimit: 100
DerivePointerAlignment: false
---
Language: Cpp
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Left
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<(.*/|(Protobuf|tinyxml2?|(nds_)?sqlite3|zlib)\.h)'
    Priority:        3
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^<.*'
    Priority:        2
  - Regex:           '.*'
    Priority:        4
...