---
BasedOnStyle: Google
ColumnLimit: 100
DerivePointerAlignment: false
---
Language: Cpp
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
MaxEmptyLinesToKeep: 1
IncludeCategories:
  - Regex:           '^<.*\.h>'
    Priority:        1
  - Regex:           '^<.*'
    Priority:        2
  - Regex:           '.*'
    Priority:        3